$blue: #6270ff;

$dark: #2e2e2e;
$gray: #ecedf5;
$white: #fff;

$color-primary: $blue;

$color-dark: $dark;
$color-gray: $gray;
$color-white: $white;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1366px;