*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #2e2e2e;
}

.button {
  width: 258px;
  height: 74px;
  background-image: -moz-linear-gradient(31deg, #79ccff 1%, #6270ff 100%);
  background-image: -webkit-linear-gradient(31deg, #79ccff 1%, #6270ff 100%);
  background-image: -ms-linear-gradient(31deg, #79ccff 1%, #6270ff 100%);
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.35);
  border: none;
  outline: none;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.button .fa-location-arrow {
  font-size: 15px;
  margin-left: 10px;
}

header {
  height: 80px;
  color: #2e2e2e;
}
header .header__inner {
  height: 100%;
  padding: 0 0 0 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__inner nav {
  margin-left: auto;
  height: 80px;
  display: flex;
}
header .header__inner nav .nav__link {
  position: relative;
  margin: 0 28px;
  height: 100%;
  font-weight: 500;
  line-height: 80px;
  color: #2e2e2e;
}
header .header__inner nav .nav__link::before, header .header__inner nav .nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  border: 1px solid transparent;
  transition: width 0.2s;
}
header .header__inner nav .nav__link::before {
  left: 0;
}
header .header__inner nav .nav__link::after {
  right: 0;
}
header .header__inner nav .nav__link:hover::before, header .header__inner nav .nav__link:hover::after {
  width: 50%;
  border: 1px solid #6270ff;
}
header .header__inner .phone {
  display: flex;
  height: 100%;
  margin-left: 28px;
}
header .header__inner .phone .phone__icon {
  padding: 0 28px;
  background-color: #6270ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
header .header__inner .phone .phone__icon .fa-phone-volume {
  transform: rotate(-45deg);
  font-size: 22px;
}
header .header__inner .phone .phone__number {
  background-color: #ecedf5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

main {
  position: relative;
}
main .message {
  position: fixed;
  top: 314px;
  right: -115px;
  z-index: 40;
  width: 273px;
  height: 64px;
  background-color: #2e2e2e;
  color: #fff;
  transform: rotate(-90deg);
  display: flex;
  transition: 0.6s;
}
main .message:hover {
  right: -110px;
}
main .message .message__text {
  width: 80%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .message .message__icon {
  width: 20%;
  background-color: #6270ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .message .message__icon:hover .fa-envelope {
  transform: scale(1.2);
}
main .message .message__icon .fa-envelope {
  font-size: 20px;
  transition: 0.6s;
  color: #fff;
}
main .hero {
  position: relative;
  height: 1100px;
  background-color: #6270ff;
  color: #fff;
}
main .hero button:focus {
  outline: 0;
}
main .hero .owl-prev {
  position: absolute;
  left: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #505ff4 !important;
  padding: 10px !important;
}
main .hero .owl-prev.disabled {
  background-color: #2e2e2e !important;
  opacity: 33%;
}
main .hero .owl-next {
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #505ff4 !important;
  padding: 10px !important;
}
main .hero .owl-next.disabled {
  background-color: #2e2e2e !important;
  opacity: 33%;
}
main .hero .owl-dots {
  position: absolute;
  left: 15%;
  bottom: 27px;
}
main .hero .owl-dots .owl-dot.active span {
  background-color: #fff;
}
main .hero .owl-dots .owl-dot:hover span {
  background-color: #fff;
}
main .hero .owl-dots .owl-dot span {
  border: 2px solid #fff;
  background: none;
}
main .hero .owl-carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
main .hero .owl-carousel .owl-stage-outer {
  height: 100%;
  width: 100%;
}
main .hero .owl-carousel .owl-stage-outer .owl-stage {
  height: 100%;
  width: 100%;
}
main .hero .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  width: 100%;
  height: 100%;
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
main .hero .owl-carousel .owl-stage-outer .owl-stage .owl-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}
main .hero .owl-carousel .owl-stage-outer .owl-stage .owl-item .hero__inner {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .hero .owl-carousel .owl-stage-outer .owl-stage .owl-item .hero__inner .hero__title {
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 70px;
  margin-top: 360px;
}
main .hero .owl-carousel .owl-stage-outer .owl-stage .owl-item .hero__inner .hero__title span {
  font-weight: 700;
}
main .count {
  position: absolute;
  bottom: 27px;
  right: 15%;
  z-index: 100;
  color: #fff;
}
main .features {
  padding: 100px 0;
}
main .features .features__inner {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
main .features .features__inner .feature {
  margin-bottom: 25px;
}
main .features .features__inner .feature:last-child {
  margin-bottom: 0;
}
main .features .features__inner .feature .feature__title {
  font-size: 20px;
  font-weight: 800;
  color: #2e2e2e;
  margin: 25px 0 30px 0;
}
main .features .features__inner .feature .feature__text {
  color: #838383;
}
main .about {
  padding: 100px 0;
  background-color: #f1f6f9;
}
main .about .about__inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .about .about__inner .about__content {
  flex: 1;
}
main .about .about__inner .about__content .about__tag {
  text-transform: uppercase;
  color: #838383;
}
main .about .about__inner .about__content .about__title {
  font-size: 34px;
  font-weight: 700;
  color: #2e2e2e;
}
main .about .about__inner .about__content .about__title span {
  text-decoration: underline;
  text-decoration-color: #6270ff;
}
main .about .about__inner .about__content .about__text {
  color: #838383;
  margin: 40px 0;
}
main .about .about__inner .about__video {
  flex: 1;
}
main .about .about__inner .about__video .video-js {
  width: 100%;
}
main .about .about__inner .about__video .vjs-poster {
  background-size: cover;
}
main .about .about__inner .about__video .vjs-big-play-button {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .about .about__inner .about__video .vjs-big-play-button .vjs-icon-placeholder::before {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .why-choose-us {
  height: 938px;
  background-color: #6270ff;
  padding: 100px 0;
}
main .why-choose-us .why-choose-us__inner {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 8%;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__tag {
  text-transform: uppercase;
  color: #838383;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__title {
  font-size: 34px;
  font-weight: 700;
  color: #2e2e2e;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 {
  display: flex;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .why-choose-us__text {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .why-choose-us__text .why-choose-us__description {
  color: #838383;
  margin: 40px 0;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .why-choose-us__text .read-more {
  font-size: 14px;
  font-weight: 500;
  color: #6270ff;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar__bar {
  position: relative;
  height: 5px;
  background-color: #f7fafb;
  margin: 14px 0;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar__bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6270ff;
  height: 100%;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar:nth-child(1) .progress-bar__bar::after {
  width: 70%;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar:nth-child(2) .progress-bar__bar::after {
  width: 100%;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar:nth-child(3) .progress-bar__bar::after {
  width: 60%;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-1 .progress-bars .progress-bar:nth-child(4) .progress-bar__bar::after {
  width: 90%;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-2 .achievment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-2 .achievment .achievement__image {
  margin-bottom: 25px;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-2 .achievment .achievement__title {
  font-size: 36px;
  font-weight: 500;
}
main .why-choose-us .why-choose-us__inner .why-choose-us__row-2 .achievment .achievement__text {
  font-size: 18px;
  font-weight: 500;
  color: #838383;
}
main .revolutionary-product {
  background-color: #f7fafb;
}
main .revolutionary-product .revolutionary-product__inner {
  padding: 100px 0;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .revolutionary-product .revolutionary-product__inner .revolutionary-product__tag {
  text-transform: uppercase;
  color: #838383;
}
main .revolutionary-product .revolutionary-product__inner .revolutionary-product__title {
  font-size: 34px;
  font-weight: 700;
  color: #2e2e2e;
  text-align: center;
}
main .revolutionary-product .revolutionary-product__inner .cards {
  margin-top: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
main .revolutionary-product .revolutionary-product__inner .cards .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
main .revolutionary-product .revolutionary-product__inner .cards .card .card__image {
  height: 220px;
  display: flex;
  align-items: center;
}
main .revolutionary-product .revolutionary-product__inner .cards .card .card__image img {
  width: 100%;
}
main .revolutionary-product .revolutionary-product__inner .cards .card .card__content .card__title {
  font-size: 20px;
  font-weight: 800;
  margin: 30px 0;
}
main .revolutionary-product .revolutionary-product__inner .cards .card .card__content .card__text {
  font-size: 15px;
  font-weight: 400;
  color: #838383;
}
main .revolutionary-product .revolutionary-product__inner .cards .card:last-child .card__image {
  position: relative;
}
main .revolutionary-product .revolutionary-product__inner .cards .card:last-child .card__image img:last-child {
  position: absolute;
  left: 0;
}
main .faq {
  padding: 100px 0;
}
main .faq .faq__inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .faq .faq__inner .faq__tag {
  text-transform: uppercase;
  color: #838383;
}
main .faq .faq__inner .faq__title {
  font-size: 34px;
  font-weight: 700;
  color: #2e2e2e;
  text-align: center;
}
main .faq .faq__inner .faqs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 90px;
}
main .faq .faq__inner .faqs .faqs__accordion {
  margin-bottom: 50px;
}
main .faq .faq__inner .faqs .faqs__accordion .faqs__question {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
main .faq .faq__inner .faqs .faqs__accordion .faqs__answer {
  font-size: 15px;
  color: #838383;
}
main .faq .faq__inner .button {
  margin-top: 35px;
}
main .faq .faq__inner .button img {
  vertical-align: baseline;
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
