header{
    height: 80px;
    color: $color-dark;

    .header__inner{
        height: 100%;
        padding: 0 0 0 2.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bars{
            font-size: 34px;
            color: $color-primary;
            margin-right: 2.5%;
            display: none;

            @media screen and (max-width: 923px){
                display: block;
            }
        }

        nav{
            margin-left: auto;
            height: 80px;
            display: flex;

            @media screen and (max-width: 923px){
                display: none;
            }

            .nav__link{
                position: relative;
                margin: 0 28px;
                height: 100%;
                font-weight: 500;
                line-height: 80px;
                color: $color-dark;

                &::before, &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 0%;
                    border: 1px solid transparent;
                    transition: width 0.2s;
                }

                &::before{
                    left: 0;
                }

                &::after{
                    right: 0;
                }

                &:hover::before, &:hover::after{
                    width: 50%;
                    border: 1px solid $color-primary;
                }
            }
        }

        .phone{
            display: flex;
            height: 100%;
            margin-left: 28px;

            @media screen and (max-width: 1120px){
                display: none;
            }

            .phone__icon{
                padding: 0 28px;
                background-color: $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-white;

                .fa-phone-volume{
                    transform: rotate(-45deg);
                    font-size: 22px;
                }
            }

            .phone__number{
                background-color: $color-gray;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 28px;
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;

                @media screen and (max-width: 1366px){
                    font-size: 16px;
                    padding: 0 18px;
                }
            }
        }
    }
}