main{
    position: relative;

    .message{
        position: fixed;
        top: 314px;
        right: -115px;
        z-index: 40;
        width: 273px;
        height: 64px;
        background-color: $color-dark;
        color: $color-white;
        transform: rotate(-90deg);
        display: flex;
        transition: 0.6s;

        &:hover{
            right: -110px;
        }

        .message__text{
            width: 80%;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .message__icon{
            width: 20%;
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover .fa-envelope{
                transform: scale(1.2);
            }

            .fa-envelope{
                font-size: 20px;
                transition: 0.6s;
                color: $color-white;
            }
        }
    }

    .hero{
        position: relative;
        height: 1100px;
        background-color: $color-primary;
        color: $color-white;

        button:focus { 
            outline: 0
        }

        .owl-prev{
            position: absolute;
            left: 2.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #505ff4 !important;
            padding: 10px !important;

            &.disabled{
                background-color: $color-dark !important;
                opacity: 33%;
            }
        }

        .owl-next{
            position: absolute;
            right: 2.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #505ff4 !important;
            padding: 10px !important;

            &.disabled{
                background-color: $color-dark !important;
                opacity: 33%;
            }
        }

        .owl-dots{
            position: absolute;
            left: 15%;
            bottom: 27px;

            .owl-dot{

                &.active span{
                    background-color: $color-white;
                }

                &:hover span{
                    background-color: $color-white;
                }
                
                span{
                    border: 2px solid $color-white;
                    background: none;
                }
            }
        }

        .owl-carousel{
            position: relative;
            width: 100%;
            height: 100%;

            .owl-stage-outer{
                height: 100%;
                width: 100%;
                .owl-stage{
                    height: 100%;
                    width: 100%;
    
                    .owl-item{
                        width: 100%;
                        height: 100%;
                        background-image: url("../images/home.jpg");
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: relative;
    
                        &::after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background-color: rgb(51, 51, 51, 0.5);
                        }
    
                        .hero__inner{
                            position: relative;
                            z-index: 3;
                            width: 100%;
                            height: 100%;
                            margin: 0 auto;
                            display: flex;
                            flex-direction: column;   
                            align-items: center;   
                            text-align: center;
                
                            .hero__title{
                                font-size: 100px;
                                font-weight: 200;
                                margin-bottom: 70px;
                                margin-top: 360px;
                
                                span{
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .count{
        position: absolute;
        bottom: 27px;
        right: 15%;
        z-index: 100;
        color: $color-white;
    }

    .features{
        padding: 100px 0;

        .features__inner{
            width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px; 

            .feature{
                margin-bottom: 25px;

                &:last-child{
                    margin-bottom: 0;
                }

                .feature__title{
                    font-size: 20px;
                    font-weight: 800;
                    color: $color-dark;
                    margin: 25px 0 30px 0;
                }

                .feature__text{
                    color: #838383;
                }
            }
        }
    }

    .about{
        padding: 100px 0;
        background-color: #f1f6f9;

        .about__inner{
            width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .about__content{
                flex: 1;

                .about__tag{
                    text-transform: uppercase;
                    color: #838383;
                }

                .about__title{
                    font-size: 34px;
                    font-weight: 700;
                    color: $color-dark;

                    span{
                        text-decoration: underline;
                        text-decoration-color: $color-primary;
                    }
                }

                .about__text{
                    color: #838383;
                    margin: 40px 0;
                }
            }

            .about__video{
                flex: 1;

                .video-js{
                    width: 100%;
                }

                .vjs-poster{
                    background-size: cover;
                }

                .vjs-big-play-button{
                    background-color: rgba(255, 255, 255, .25);
                    border: none;
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .vjs-icon-placeholder{        

                        &::before{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .why-choose-us{
        height: 938px;
        background-color: $color-primary;
        padding: 100px 0;

        .why-choose-us__inner{
            width: 85%;
            height: 100%;
            margin: 0 auto;
            background-color: #fff;
            padding: 8%;

            .why-choose-us__tag{
                text-transform: uppercase;
                color: #838383;
            }

            .why-choose-us__title{
                font-size: 34px;
                font-weight: 700;
                color: $color-dark;
            }

            .why-choose-us__row-1{
                display: flex;

                .why-choose-us__text{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin-right: 10px;

                    .why-choose-us__description{
                        color: #838383;
                        margin: 40px 0;
                    }

                    .read-more{
                        font-size: 14px;
                        font-weight: 500;
                        color: $color-primary;
                    }
                }

                .progress-bars{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin-left: 10px;

                    .progress-bar__text{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .progress-bar__bar{
                        position: relative;
                        height: 5px;
                        background-color: #f7fafb;
                        margin: 14px 0;

                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $color-primary;
                            height: 100%;
                        }
                    }

                    .progress-bar:nth-child(1){

                        .progress-bar__bar{
    
                            &::after{
                                width: 70%;
                            }
                        }
                    }

                    .progress-bar:nth-child(2){

                        .progress-bar__bar{
    
                            &::after{
                                width: 100%;
                            }
                        }
                    }

                    .progress-bar:nth-child(3){

                        .progress-bar__bar{
    
                            &::after{
                                width: 60%;
                            }
                        }
                    }

                    .progress-bar:nth-child(4){

                        .progress-bar__bar{
    
                            &::after{
                                width: 90%;
                            }
                        }
                    }
                }
            }

            .why-choose-us__row-2{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 90px;

                .achievment{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .achievement__image{
                        margin-bottom: 25px;
                    }

                    .achievement__title{
                        font-size: 36px;
                        font-weight: 500;
                    }

                    .achievement__text{
                        font-size: 18px;
                        font-weight: 500;
                        color: #838383;
                    }
                }
            }
        }
    }

    .revolutionary-product{
        background-color: #f7fafb;

        .revolutionary-product__inner{
            padding: 100px 0;
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .revolutionary-product__tag{
                text-transform: uppercase;
                color: #838383;
            }

            .revolutionary-product__title{
                font-size: 34px;
                font-weight: 700;
                color: $color-dark;
                text-align: center;
            }

            .cards{
                margin-top: 75px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 30px;

                .card{
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px;

                    .card__image{
                        height: 220px;
                        display: flex;
                        align-items: center;

                        img{
                            width: 100%;
                        }
                    }

                    .card__content{

                        .card__title{
                            font-size: 20px;
                            font-weight: 800;
                            margin: 30px 0;
                        }
    
                        .card__text{
                            font-size: 15px;
                            font-weight: 400;
                            color: #838383;
                        }
                    }
                }

                .card:last-child{

                    .card__image{
                        position: relative;

                        img:last-child{
                            position: absolute; 
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}